#player button+button {
    margin-left: 0.75em;
}

#player .upload {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

#player .video-box {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player.player {
    position: relative;
}

#player .player_video {
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

#player.player .fa {
    color: #000;
    font-size: 1rem;
}

#player .fa-play:hover,
#player .fa-pause:hover,
#player .fa-stop:hover,
#player .fa-volume-up:hover,
#player .fa-fast-backward:hover,
#player .fa-fast-forward:hover {
    color: #feba13;
    cursor: pointer;
}

#player .player_button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
    font-size: 1rem;
}

#player .player_button:focus,
#player .player_button:hover {
    border-color: #ffc600;
    border-color: blue;
}

#player .player_slider {
    width: 0.75rem;
    height: 3rem;
}

#player .player_controls {
    display: flex;
    width: 100%;
    transition: all 0.3s;
    flex-wrap: wrap;
    /* background: #ad979720; */
}

#player .right-controls {
    display: flex;
    justify-content: flex-end;
}

#player .left-controls {
    display: flex;
    justify-content: flex-start;
}

#player .player_controls>* {
    flex: 1;
}

#player .progress-range {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 2rem;
    transition: height 0.3s;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #707070;
    padding: 10px;
    margin-bottom: 10px;
}

#player .progress-bar2 {
    background: #feba13;
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
    transition: all 250ms ease;
}

#player.player:fullscreen {
    max-width: none;
    width: 100%;
}

#player.player:-webkit-full-screen {
    /*CHROME*/
    max-width: none;
    width: 100%;
}

#player.player:-moz-full-screen {
    /*FIREFOX*/
    max-width: none;
    width: 100%;
}

#player .time {
    text-align: right;
    position: relative;
    top: 0.85em;
    padding-left: 0.5em;
    margin-right: 1em;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    /* user-select: none; */
}

/*css to style input type="range"*/
#player input[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    width: 40%;
    margin: 0 20px;
}

#player input[type='range']:focus {
    outline: none;
}

#player input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

#player input[type='range']::-webkit-slider-thumb {
    height: 0.75em;
    width: 1em;
    border-radius: 0.25em;
    background: #feba13;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
    box-shadow: 0 0 2px rgb(15, 14, 80);
}

#player input[type='range']::-moz-range-track {
    /*?*/
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

#player input[type='range']::-moz-range-thumb {
    /*?*/
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 12px;
    width: 17px;
    border-radius: 50px;
    /* background: #ffc600; */
    background: blue;
    cursor: pointer;
}
#to {
    overflow: hidden;
}

body {
    background: #F9FAFC;
}

.pt-5 {
    padding-top: 200px !important;
}

.pb-5 {
    padding-bottom: 200px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.home-hero .buttons a {
    border-radius: 3px;
    transition: all 0.5s ease;
}

.home-hero .buttons a:hover {
    outline: none !important;
    background: #fff !important;
    color: #feba13 !important;
    border: 1px solid #feba13;
    box-shadow: 0 7px 10px 1px #0000000c;
    transform: translateX(5px);
}

#head {
    display: none;
}

.border-style {
    border: 1px solid #D9D9D9;
    border-right: none;
    position: relative;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.border-style::before,
.border-style::after {
    content: '';
    display: block;
    height: 1px;
    width: 10px;
    position: absolute;
    right: -10px;
}

.border-style::before {
    top: -1px;
    border-top: 1px solid #D9D9D9;
}

.border-style::after {
    bottom: -1px;
    border-bottom: 1px solid #D9D9D9;
}

/****************************/
.home-hero {
    border-radius: 5px;
}

.home-hero .string {
    padding: 35px 50px !important;
    min-height: 400px;
    display: block;
}

.home-hero .string h6 {
    margin: 10px 0;
}

.home-hero .numbers {
    padding: 20px;
}

.home-hero .string h2 {
    margin: 0;
    font-size: 29px;
}

.home-hero .main-text {
    color: #feba13;
}

.home-hero .string p {
    margin: 10px 0;
    font-size: 15px;
}

.home-hero .string hr {
    width: 50px;
    margin: 20px 0;
    border-top: 4px solid #feba13;
}

.home-hero .buttons a.see-more {
    background: transparent;
    color: #feba13;
    border: 0;
    border-radius: 2px;
    padding: 0;
    margin: 0 !important;
    outline: 1px solid #a3a3a3;
    display: flex;
    width: max-content;
    align-items: center;
}

.home-hero .buttons a span {
    padding: 15px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.home-hero .buttons a span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f5f5f5;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.5s ease !important;
}

.home-hero .buttons a span:hover:before {
    left: 0%;
}

.home-hero .buttons a i {
    padding: 15px;
    border-left: 1px solid #a3a3a3;
}

.home-hero .buttons a:hover {
    outline: 1px solid #feba13;
}

.home-hero .buttons a:hover i {
    border-left: 1px solid #feba13;
}

.home-hero .numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: #f5f5f5;
    color: #4A4A4A;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* transition: all 0.8s ease; */
}

.home-hero .numbers>div {
    width: 25%;
    position: relative;
    transition: all 0.8s ease;
}

.home-hero .numbers i {
    font-size: 14px;
}

p.value {
    margin: 0;
    font-size: 16px;
}

p.key {
    margin: 0;
    font-size: 12px;
}

.home-hero .numbers>div::after {
    content: '';
    display: block;
    width: 1px;
    height: 25px;
    border-left: 2px solid #707070;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(50%);
}

.home-hero .numbers>div:nth-last-child(1)::after {
    display: none;
}

.home-hero .card-video {
    background: #fff;
    box-shadow: 0 5px 15px 1px #00000020;
    padding: 30px;
    position: relative;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-hero .card-video .text {
    text-transform: uppercase;
    color: #8A8A8A;
    font-size: 14px;
}

.home-hero .card-video .video {
    position: relative;
    line-height: 0;
    margin-bottom: 10px;
}

.home-hero .card-video .image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    transition: all 0.5s ease;
    cursor: pointer;
}

.home-hero .card-video .image img {
    width: 235px;
}

.home-hero .card-video:hover .image {
    transform: rotate(-3deg);
    right: 3.2%;
}

.home-hero .card-video .video button.clickable {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #feba13;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
}

.home-hero .card-video:hover .video button.clickable {
    outline: 6px solid #feba1380;
}

.home-hero .card-video #player .video button.clickable .fa {
    color: #fff;
    font-size: 1.2rem;
    padding: 0 0 0 4px;
}

/****************************/
.home-page .footer-hero {
    background: #323127;
}

/****************************/
.caregories .card-image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    min-height: 100%;
    background: #fff;
    box-shadow: 0 0 10px 1px #00000015;
}

.caregories .owl-item.active.center .card-image {
    box-shadow: 0 7px 10px 1px #0000000c;
}

.caregories .card-image .image {
    height: 100%;
    padding: 40px;
    transition: all 0.5s ease;
}

.caregories .card-image:hover .image {
    padding: 30px;
}

.caregories .card-image:hover a:last-child svg {
    transform: translateX(8px);
}

.caregories .card-image .image img {
    object-fit: contain;
}

.caregories .card-image a:first-child {
    display: block;
    height: 230px;
    transition: all 1s ease !important;
}

.caregories .owl-item.active.center .item .card-image a:first-child {
    height: 280px !important;
}

.caregories .card-image a:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 12px 16px;
    background: #feba13;
}

.caregories .card-image a:last-child svg path {
    stroke: #fff;
}

.caregories .card-image a:last-child svg {
    transition: all 0.5s ease;
}

.caregories .card-image a:last-child span {
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.caregories .owl-item.active.center .item {
    width: calc(100% + 38px);
    margin-left: -19px;
}

.caregories .owl-stage {
    display: flex;
    align-items: center;
}

.caregories .services .owl-stage-outer {
    min-height: 385px;
}

.caregories .services .owl-dots,
.free-video .owl-dots {
    margin-top: 40px;
}

.caregories .owl-item.active {
    z-index: 1;
}

.caregories .owl-item.active.owl-item.active.center {
    z-index: 9999;
}

.caregories .services .owl-stage {
    transition: all 0.8s ease !important;
}

.load {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #0a5f91;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@keyframes example {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes example2 {
    from {
        transform: rotate(0);

    }

    to {
        transform: rotate(360deg);


    }
}

.anmy {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.a1 {
    animation-name: example2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.anmy div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-right: none;
    border: 6px solid #fab919;
    border-left: 6px solid;
    margin-top: -60px;
    /* translate: 0 -790px; */
}

.load img {
    width: 10%;
    height: 250px;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* The element to apply the animation to */
/****************************/
.blogs .row {
    align-items: center;
}

.blogs .image {
    position: relative;
}

.blogs .text {
    text-align: center;
}

.read-more {
    color: #5E5E5E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

.read-more span {
    display: block;
    margin-right: 10px;
}

.has-background {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: all 1s ease;
    background-image: url(https://bakkah.com/public/front-dist/images/new-website/blog-background.png);
}

.has-background:hover {
    background-position: 55%;
}

.blogs .reflex .image img {
    transition: all 0.5s ease;
}

.blogs .reflex .image img:hover {
    transform: scale(1.1);
}

.blogs .row .text:hover .read-more {
    transform: translateX(10px);
}

/****************************/
.learning .free-video .owl-stage-outer {
    padding: 10px 0;
}

.learning .free-video .item {
    opacity: 1;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.learning .free-video .card {
    border: none;
    background: #fff;
    padding: 0;
    box-shadow: 0 7px 10px 1px #0000000c;
    border-radius: 15px;
}

.learning .free-video .card .image {
    width: 55px;
    margin: 0 auto;
    height: 55px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 7px 10px 1px #0000000c;
    border-radius: 50%;
}

.learning .free-video .card .image img {
    height: 100% !important;
    width: auto;
    margin: 0 auto;
    transition: all 0.8s ease;
}

.learning .free-video .card:hover .image img {
    transform: scale(1.1);
}

.learning .free-video .card .text {
    text-align: center;
    color: #000;
    padding: 10px 20px !important;
    width: 100%;
}

.learning .free-video .card .play-icon {
    padding: 20px 20px 0;
    color: #D9D9D9;
}

.learning .free-video .card small {
    color: #CFCFCF;
}

.learning .free-video .item:hover {
    transform: scale(1.1);
}

.learning .free-video .item:hover .card .play-icon {
    color: #feba13;
}

.learning .free-video .card .card-body p.light-text {
    min-height: 150px;
    margin-bottom: 10px;
}

.learning .free-video .card .text h3 {
    margin: 15px 0;
    min-height: 50px;
    font-size: 15px;
    color: #5E5E5E;
    font-style: inherit;
    /************************/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.learning .free-video .card .icon svg circle {
    fill: #feba13;
}

.learning .free-video .card .icon svg path {
    fill: #fff;
}

.learning .free-video .owl-dots button.owl-dot {
    background: transparent;
    border: transparent;
    width: 20px;
    height: 20px;
    padding: 0;
}
.fa-chevron-left::before {
    content: "\f053";
}

.fa-chevron-right::before {
    content: "\f054";
}
.icons-popup {
    position: fixed;
    right: 25px !important;
    bottom: 25px !important;
    z-index: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #25D366;
    padding: 6px 0px;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px rgb(0 0 0 / 16%);
}
.learning .free-video button.owl-dot span {
    margin: 0 auto !important;
    border: 2px solid #feba13;
    background: transparent !important;
    width: 14px;
    height: 14px;
}

.learning .free-video button.owl-dot.active span {
    background: #feba13 !important;
}

.learning .free-video .read_more {
    background: #feba13;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fpr span {
    color: white
}

.learning .free-video .read_more a {
    color: #5E5E5E;
}

.learning .free-video .card:hover small {
    color: #c1c1c1;
}

/****************************/
@media(max-width: 1200.98px) {
    .home-hero .card-video .image img {
        width: 190px;
    }
}

@media (max-width: 1200.98px) and (min-width: 991.98px) {
    p.value {
        font-size: 16px;
    }

    .home-hero .string {
        min-height: 450px;
    }
}

@media (max-width: 991.98px) {
    .home-hero .row {
        flex-direction: column-reverse;
    }

    .home-hero .card-video .image img {
        width: 290px;
    }

    .border-style {
        border: 1px solid #d9d9d9;
        border-top: none;
        margin-top: -12px;
    }

    .border-style::before,
    .border-style::after {
        display: none;
    }
}

@media(max-width: 767.98px) {
    .pb-5 {
        padding-bottom: 70px !important;
    }

    .pt-5 {
        padding-top: 70px !important;
    }

    .pt-100 {
        padding-top: 20px !important;
    }

    .home-hero .card-video .text {
        padding: 0 !important;
    }

    .player_button.screenSize {
        display: none !important;
    }

    .caregories .card-image {
        border-radius: 10px;
    }

    .caregories .card-image {
        min-height: auto !important;
    }

    .caregories .services .owl-stage-outer {
        min-height: 320px;
    }

    .home-hero .string p {
        margin: 0 0 10px;
    }

    .home-hero .numbers i {
        font-size: 12px;
    }

    .read-more {
        margin-top: 14px;
    }

    .learning .free-video .card .play-icon {
        padding: 10px 20px 0;
    }

    .learning .free-video .card .image {
        width: 50px;
        height: 50px;
        padding: 12px;
    }

    .learning .free-video .card .text {
        padding-top: 0 !important;
    }

    .learning .free-video .read_more {
        padding: 10px 20px;
    }

    .learning .free-video .read_more a {
        font-size: 12px;
    }

    .learning .free-video .read_more a i {
        font-size: 11px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 8px;
        margin: 0 5px;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        height: 8px;
    }

    .home-page .image {
        background-size: cover;
        background-position-x: 70%;
        background-repeat: no-repeat;
    }

    .home-page .primary-section.hero {
        height: 65vh;
    }

    .hero .text {
        top: 35%;
    }

    .home-page .image.main-section {
        height: 100vh;
    }

    .home-hero .card-video .image img {
        width: 210px;
    }

    .right-controls {
        display: none;
    }

    .home-hero .card-video {
        padding: 15px;
    }

    .home-hero .string {
        padding: 15px !important;
        text-align: center;
        min-height: 350px;
    }

    .home-hero .string hr {
        margin: 20px auto;
    }

    .home-hero .numbers>div::after {
        display: none;
    }

    .home-hero .numbers>div {
        width: 50%;
        position: relative;
        margin-bottom: 20px;
    }

    .home-hero .numbers>div:nth-last-child(2),
    .home-hero .numbers>div:nth-last-child(1) {
        margin: 0;
    }

    .home-hero .string h6 {
        font-size: 14px;
    }

    .home-hero .string h2 {
        font-size: 20px;
        margin-top: 10px;
    }

    .home-hero .buttons a {
        margin: 0 auto 10px !important;
    }

    .home-hero .numbers {
        padding: 20px;
        justify-content: center;
    }

    .blogs .row.has-background .image {
        text-align: center !important;
    }

    .blogs .has-background {
        background: none;
    }

    .pr-5 {
        padding: 0 !important;
        padding-bottom: 5px !important;
    }

    .card .col-12 {
        padding: 0;
    }
}

@media (max-width: 576.98px) {
    .site-logo {
        margin-left: 45px;
    }

    .navbar-brand img {
        width: 100px;
        padding-left: 20px;
    }

    .load img {
        width: 50%;
    }

    .home-hero .card-video .text {
        display: none;
    }

    .caregories .services .item {
        margin: 0 !important;
        width: 100% !important;
    }

    .home-hero .card-video img {
        display: block;
    }

    .caregories .services .owl-stage-outer {
        min-height: 100%;
    }

    .caregories .card-image a:last-child {
        height: 50px;
    }

    .learning .free-video .item {
        background-position: 100% 75%;
    }
}

@media (max-width: 425.98px) {

    .caregories .card-image a:first-child,
    .caregories .owl-item.active.center .item .card-image a:first-child {
        height: 240px !important;
    }
}

@media (max-width: 370.98px) {
    .home-hero .string {
        min-height: 400px;
    }
}
  .btn-primary-orange {
            background-color: red;
            border-color: red;
            color: #fff;
        }

        .autocomplete {
            position: relative;
            width: 200px;
        }

        main .side-user {
            display: none;
        }

        span.user-menu {
            display: none;
        }

        .related-articel-box .img-wrapper {
            height: 200px;
        }

        @media(min-width: 1199.98px) {
            div#search-wrapper {
                margin: 0 20px;
            }

            .autocomplete input[type="text"] {
                background: #fff;
                height: 38px;
                border-radius: 5px !important;
                border-bottom: none;
                width: 100%;
                box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
            }
        }

        @media(max-width: 1199.98px) {
            .autocomplete input[type="text"] {
                width: 100%;
            }
        }

        @media (max-width: 767.5px) {
            .userarea-wrapper>.row {
                min-height: auto !important;
            }

            main .side aside.user-profile {
                display: none;
            }

            span.user-menu {
                display: inline;
            }

            main .side-user {
                width: 100%;
                position: fixed;
                top: 0;
                left: -250px;
                z-index: 999;
                height: calc(100%);
            }

            main .side-user .user-profile {
                background: #fff;
                width: 250px;
                height: 100%;
                padding: 115px 20px !important;
                overflow-y: scroll;
            }

            main .side-user .user-profile ul li {
                padding: 10px 0;
            }

            main .side-user .user-profile ul li a {
                color: #7c7c7c;

                width: 100%;
                display: block;
            }
        }
        